<div class="app">
  <app-core>
    <!--
      Define the global key-value mapping, with it initial values.  This global state provides
      communication between components.
    -->
    <global-state>
      <value-map>
        <!-- The collection loader finds collections at this name under
             google3/third_party/traceviz/codelab/logviz/server/logs/. -->
        <value key="collection_name">
          <string>logs/log1</string>
        </value>
        <!-- Filtered-in granularities.  Empty means 'unfiltered' -->
        <value key="filtered_source_files"><string-set></string-set></value>
        <!-- called-out source-file granularities.  Empty means 'none'. -->
        <value key="called_out_source_files"><string-set></string-set></value>
      </value-map>
    </global-state>

    <!--
      A handler for Data queries issued to a connected backend via HTTP.
      Multiple components may use this to subscribe to DataSeries streams;
      these will be automatically updated as new data becomes available.
    -->
    <data-query [debounceMs]="50">
      <!--
        The set of filters to attach to DataRequests.  Each specified global
        value is provided with each DataRequest under the provided query key.
        Note that backend data series providers may ignore some global filters.
      -->
      <value-map>
        <value key="collection_name"><global-ref key="collection_name"></global-ref></value>
        <value key="filtered_source_files"><global-ref key="filtered_source_files"></global-ref></value>
      </value-map>
    </data-query>
  </app-core>

  <div class="cardrow">
    <!--
      A table showing summaries per source file. Selects source files on
      mouseover, and filters them on click (multiselect with shift-click)
    -->
    <mat-card class="card">
      <mat-card-title>Log source file summary</mat-card-title>
      <data-table class="vertical-fill">
        <interactions>
          <!-- Mousing into a row calls out that row's source file. -->
          <action target="row" type="mouseover">
            <set>
              <global-ref key="called_out_source_files"></global-ref>
              <local-ref key="source_file"></local-ref>
            </set>
          </action>

          <!-- Mousing out of a row clears the called out source files. -->
          <action target="row" type="mouseout">
            <clear>
              <global-ref key="called_out_source_files"></global-ref>
            </clear>
          </action>

          <!-- Clicking a row sets the filtered-in source file set to that row's source file. -->
          <action target="row" type="click">
            <toggle-or-set>
              <global-ref key="filtered_source_files"></global-ref>
              <local-ref key="source_file"></local-ref>
            </toggle-or-set>
          </action>

          <!-- Shift-clicking a row adds that row's source file to the filtered-in set -->
          <action target="row" type="shift-click">
            <toggle>
              <global-ref key="filtered_source_files"></global-ref>
              <local-ref key="source_file"></local-ref>
            </toggle>
          </action>

          <!-- Rows for filtered-in source files should be highlighted.  -->
          <reaction target="row" type="highlight">
            <includes>
              <global-ref key="filtered_source_files"></global-ref>
              <local-ref key="source_file"></local-ref>
            </includes>
          </reaction>
        </interactions>

        <!-- The data series that should populate this table -->
        <data-series>
          <!-- The name of the dataseries query -->
          <query>
            <string>logs.aggregate_source_files_table</string>
          </query>
          <!--
            The circumstances under which this query should re-fetch: if
            collection_name has just changed, and it is nonempty.
          -->
          <interactions>
            <reaction target="data-series" type="fetch">
              <and>
                <not>
                  <equals>
                    <global-ref key="collection_name"></global-ref>
                    <string></string>
                  </equals>
                </not>
                <changed><global-ref key="collection_name"></global-ref></changed>
              </and>
            </reaction>
          </interactions>

          <parameters><value-map></value-map></parameters>
        </data-series>

        <!-- Include a material paginator. -->
        <mat-paginator pageSize="25" showFirstLastButtons></mat-paginator>
      </data-table>
    </mat-card>

    <!--
      A view of filtered-in raw events.  Each event highlights when its source
      file is called out.
    -->
    <mat-card class="card">
      <mat-card-title>Raw events</mat-card-title>
      <data-table class="vertical-fill">
        <interactions>
          <!-- A log entry should be highlighted if its source file is called out. -->
          <reaction target="row" type="highlight">
            <includes>
              <global-ref key="called_out_source_files"></global-ref>
              <local-ref key="source_file"></local-ref>
            </includes>
          </reaction>
        </interactions>

        <data-series>
          <query>
            <string>logs.raw_entries</string>
          </query>
          <interactions>
            <reaction target="data-series" type="fetch">
              <and>
                <not>
                  <equals>
                    <global-ref key="collection_name"></global-ref>
                    <string></string>
                  </equals>
                </not>
                <or>
                  <changed><global-ref key="collection_name"></global-ref></changed>
                  <changed><global-ref key="filtered_source_files"></global-ref></changed>
                </or>
              </and>
            </reaction>
          </interactions>
          <parameters><value-map></value-map></parameters>
        </data-series>

        <!-- Include a material paginator. -->
        <mat-paginator pageSize="25" showFirstLastButtons></mat-paginator>
      </data-table>
    </mat-card>
  </div>

  <mat-card class="band">
    <mat-card-title>Log messages over time</mat-card-title>
    Add an overtime chart here!
  </mat-card>

  <!--   <mat-card class="band">
    <mat-card-title>Global State Monitor</mat-card-title>
    <global-state-monitor></global-state-monitor>
  </mat-card> -->
</div>