:host {
  overflow-y: auto;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
}

.highlighted {
  stroke: White;
}

.content {
  flex: 1;
  display: block;
  flex-direction: column;
}