<div class="container">
  <div *ngIf="loading">
    <!-- TODO(go/progressbar-aria): Replace the aria-label with a better description, e.g. "Fetching user data" -->
    <mat-progress-bar mode="indeterminate" aria-label="Loading"></mat-progress-bar>
  </div>
  <div class="content" #componentDiv (window:resize)="redraw()">
    <table class="table" [style.fontSize]="fontSizePx + 'px'"
      matSort [matSortActive]="sort.active" [matSortDirection]="sort.direction" (matSortChange)="sortTable($event)">
      <tr [style.height]="rowHeightPx + 'px'">
        <th class="header-cell" *ngFor="let column of columns" [title]="column.category.description" [mat-sort-header]="column.category.id">
          {{ column.category.displayName }}
        </th>
      </tr>
      <tr
        *ngFor="let row of rows"
        [style.height]="rowHeightPx + 'px'"
        (mouseover)="rowMouseover(row)"
        (mouseout)="rowMouseout(row)"
        (click)="rowClick(row, $event.shiftKey)"
        [ngStyle]="rowStyle(row)"
      >
        <td *ngFor="let cell of rowCells(row); let i = index;" [title]="cellLabel(cell) || cell.value.toString()">
          <div class="table-datum" [ngStyle]="cellStyle(cell, i, row)">
            {{ cell.value.toString() }}
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div class="paginator-holder">
    <ng-content select="mat-paginator"></ng-content>
  </div>
</div>
